<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210962995780-ic1c3n6k6qs08lhuq2kpmfe8fd5ousqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210962995780-ic1c3n6k6qs08lhuq2kpmfe8fd5ousqv</string>
	<key>API_KEY</key>
	<string>AIzaSyCng5sUNSiZ6h3TaBvwARgl23ZKpLmpCo8</string>
	<key>GCM_SENDER_ID</key>
	<string>210962995780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marathaMatrimonyApp</string>
	<key>PROJECT_ID</key>
	<string>maratha-matrimony-app</string>
	<key>STORAGE_BUCKET</key>
	<string>maratha-matrimony-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210962995780:ios:edb4020b280370bc91ba11</string>
</dict>
</plist>